@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Antic Slab', serif; */
/* font-family: 'Ubuntu', sans-serif; */
/* font-family: 'Oswald', sans-serif; */

html {
  height: 100vh;
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  place-items: center;
  height: 100vh;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  font-family: 'Oswald', sans-serif;
  background-color: rgb(18, 18, 28);
  color: rgb(225, 218, 218);
}

h1 {
  margin-bottom: 5px;
}

h2,
h3 {
  margin: 0;
}

main {
  width: 90vw;
  /* height: 100vh; */
  margin: 3vh 10vw;
}

header {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header a {
  text-decoration: none;
  text-transform: uppercase;
  color: orchid;
}

.subjcontainer {
  display: flex;
  flex-direction: row;
}

nav a {
  color: rgb(225, 218, 218);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10vw;
}

nav a:hover,
a:focus {
  color: orange;
}

article {
  padding: 4vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

article p {
  font-size: 1.2em;
  font-family: 'Montserrat', sans-serif;
  line-height: 2em;
}

article a {
  color: orange;
  font-size: 1.2em;
}

.back {
  width: 30px;
}

form {
  padding-top: 10px;
  display: flex;
  padding-bottom: 30px;
  font-size: 1.2rem;
  color: orchid;
  align-self: center;
}

button {
  font-family: 'Oswald', sans-serif;
  background-color: rgb(18, 18, 28);
  border: none;
  color: orange;
  cursor: pointer;
  border-radius: 0.5em;
  font-size: 1em;
}

input {
  background: rgb(210, 203, 203)
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat 140px;
  border-radius: 0.5em;
  width: 150px;
  font-size: 0.6em;
  padding: 8px;
  font-family: 'Oswald', sans-serif;
  height: 12px;
}

input:focus {
  outline: thin dotted;
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  position: relative;
  margin-top: auto;
  padding-bottom: 20px;
  padding-top: 50px;
  align-self: flex-end;
}
